configure
autom4te.cache
config.log
config.cache
config.status
Makefile
*.cmd
*.example
*.8
smbldap_tools.pm
build/Makefile.common
build/Makefile.package
build/Makefile.top
build/subst
build/subst.pl
